<div class="text-center p-3">
  <h1>Private Events</h1>
  <div class="btn-group" role="group" aria-label="basic mixed styles example">
    <%= link_to "All Events", events_path, class: "btn btn-danger" %>
  </div>
</div>
