<div class="text-center p-3">
  <h1>Private Events</h1>
  <div class="btn-group" role="group" aria-label="basic mixed styles example">
    <%= link_to "All Events", events_path, class: "btn btn-danger" %>
    <%= link_to "My Created Events", created_events_path, class: "btn btn-success" %>
    <%= link_to "My Attended Events", attended_events_path, class: "btn btn-info" %>
  </div>
  <h2>Filtered Events</h2>
  <div class="btn-group" role="group" aria-label="basic mixed styles example">
    <%= link_to "View Art Events", art_events_path, class: "btn btn-primary" %>
  </div>
</div>
